.div {
  width: 49%;
}

.div li {
  padding: 2rem;
  border: solid #e7e7e7;
  border-width: 1px;
}

.div h2 {
  margin: 2rem 0;
}

.wrapper {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
