.ul {
  font-family: 'Poppins', sans-serif;
}

.ul img {
  width: 20rem;
  height: 14rem;
  margin: 1rem;
}

.badge {
  background-color: #0056b4;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.alignText {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alignText span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.alignText:hover,
.alignText:active {
  text-decoration: underline;
}
