.ul {
  font-family: 'Poppins', sans-serif;
  width: 80%;
  margin: 1rem auto;
}

.ul img {
  width: 300px;
  height: 14rem;
  margin: 1rem;
}

.alignText {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alignText span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.alignText:hover,
.alignText:active {
  text-decoration: underline;
}

span.badge {
  font-size: 0.8rem;
  background-color: rgb(26, 166, 190);
  color: #fff;
  border-radius: 3px;
  padding: 0.1rem;
  width: 4rem;
  margin-right: 0.5rem;
  display: inline-block;
}
